@model object

<a href="@Url.Action("Edit", new { id=Model.ToString() })" class="btn btn-success waves-effect w-md waves-light m-b-5">
    <span class="mdi mdi-folder-edit"></span>&nbsp;Mettre à jour
</a>