<button type="button" class="btn btn-danger waves-effect w-md waves-light m-b-5 btn-delete">
    <i class="fa fa-warning"></i>
    Supprimer
</button>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
 $(document).ready(function () {
        $(".btn-delete").click(function () {
            var that = this;
            swal({
                title: 'Attention',
                text: 'Etes-vous sûr de vouloir procéder à la suppression?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Oui, je confirme!',
                closeOnConfirm: false
            }).then(function () {
                   $(that).parents('form:first').submit()
                swal( 'Suppression','Suppression effectuée','success' )
            })
        });
    });
</script>