@model Front.ViewModels.ResultatsVM


<table id="" class="table table-bordered ">
    <thead>

    </thead>
    <tbody>
        @{
            <tr>
                <td class="alert alert-info" colspan="12" style="text-align:center">
                Information
                </td>
            </tr>
            <tr>
                <td>Contrôlé par</td>
                <td colspan="12">@Model.DemandeResultat.AspNetUsers.Email</td>
            </tr>
            <tr>
                <td>Date de Contrôle</td>
                <td colspan="12">@Model.DemandeResultat.CreatedOn</td>
            </tr>
            <tr>
                <td>Pièce jointe</td>
                <td colspan="12">
                    @if (Model.DemandeResultat.AppFileId.HasValue)
                    {
                        @Html.ActionLink("Télécharger le fichier", "GetFile", "Home", new { id = Model.DemandeResultat.AppFileId }, null)
                    }
                    else
                    {

                    }
                </td>
             
            </tr>
           
        }
    </tbody>
</table>