<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OcpPerformanceDataContext" connectionString="metadata=res://*/AccesEnginModel.csdl|res://*/AccesEnginModel.ssdl|res://*/AccesEnginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AccesEngis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ocpaccesengins_db_azureEntities" connectionString="metadata=res://*/NewFolder1.Model1.csdl|res://*/NewFolder1.Model1.ssdl|res://*/NewFolder1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=samirdev.database.windows.net,1433;initial catalog=ocpaccesengins_db_azure;user id=samirdev;password=Dev@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>