<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ocpaccesengins.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ocpaccesengins.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ocpaccesengins</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ocpaccesengins</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureStorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=ghseazurestorage;AccountKey=DpbHfYrioHDmEc681qJhRznV+RCtUBxfNranTMDaSk8fhu2kXAy9qMgXyWaq51d2ylFnGJEDXoRkNi6U/TpLkQ==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=ghseazurestorage;AccountKey=DpbHfYrioHDmEc681qJhRznV+RCtUBxfNranTMDaSk8fhu2kXAy9qMgXyWaq51d2ylFnGJEDXoRkNi6U/TpLkQ==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnginDataModel" Order="3" Enabled="False">
          <Destination Path="Data Source=samirdev.database.windows.net,1433;Initial Catalog=ocpaccesengins_db_azure;Persist Security Info=True;User ID=samirdev;Password=Dev@1234;Pooling=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DAL.EnginDbContext, DAL" MigrationConfiguration="DAL.Migrations.Configuration, DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="EnginDataModel-Web.config Connection String">
      <ParameterValue>Data Source=samirdev.database.windows.net,1433;Initial Catalog=ocpaccesengins_db_azure;Persist Security Info=True;User ID=samirdev;Password=Dev@1234;Pooling=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>