@using Shared
@{
    ViewBag.Title = "Reporting";
}



<div class="row">
    <form action="/Home/GetStatiqtique" method="post">
        <input type="datetime" name="dateStart" value="" />
        <input type="datetime" name="dateEnd" value="" />
        <input type="submit" name="name" value="oki" />
    </form>
    <div class="btn  btn-primary waves-effect   btn-xs waves-light m-b-5" onclick="location.href='@Url.Action("GetStatiqtique", "Home")'"><span class="fa fa-download"></span> Exporter Vers Excel</div>

    @{

        if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CHEFPROJET))
        {
            <div class="col-md-6">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        }
        if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CHEFPROJET) || HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
        {
            <div class="col-md-6">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
            </div>
        }
        <div class="col-md-6">
            <div id="chartExpireId" style="height: 370px; width: 100%;"></div>
        </div>

    }
</div>



@section scripts{

    <script src="~/Scripts/canvasjs.min.js"></script>
    @if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CHEFPROJET))
    {
        <script type="text/javascript">
            window.onload = function () {
                var posting = $.post('/AccesEnginapi/FillChartPieMyDemande', function (response) {
                    CanvasJS.addColorSet("greenShades",
                        [//colorSet Array
                            "#81C5D7",
                            "#F9B67F",
                        ]);
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        colorSet: "greenShades",
                        title: {
                            text: "Mes Demandes contrôlées / non contrôlées"
                        },
                        data: [{
                            type: "pie",
                            startAngle: 240,
                            yValueFormatString: "##0.00\"%\"",
                            indexLabel: "{label} {y}",
                            dataPoints: [
                                { y: response.data.Value1, label: "Demandes contrôlées" },
                                { y: response.data.Value2, label: "Demandes non contrôlées" },

                            ]
                        }]
                    });
                    chart.render();
                });
                var posting = $.post('/AccesEnginapi/FillChartPieMyDemandeAutorise', function (response) {
                    var chart = new CanvasJS.Chart("chartContainer1", {
                        animationEnabled: true,
                        title: {
                            text: "Demandes autorisées / non autorisées"
                        },
                        data: [{
                            type: "pie",
                            startAngle: 240,
                            yValueFormatString: "##0.00\"%\"",
                            indexLabel: "{label} {y}",
                            dataPoints: [
                                { y: response.data.Value1, label: "Demandes autorisées" },
                                { y: response.data.Value2, label: "Demandes non autorisées" },

                            ]
                        }]
                    });
                    chart.render();
                });
                FileChartExpire()
            }
        </script>
    }
    @if (HttpContext.Current.User.IsInRole(ConstsAccesEngin.ROLE_CONTROLEUR))
    {
        <script type="text/javascript">
            window.onload = function () {
                var posting = $.post('/AccesEnginapi/FillChartPieMyDemandeAutorise', function (response) {
                    var chart = new CanvasJS.Chart("chartContainer1", {
                        animationEnabled: true,
                        title: {
                            text: "Demandes autorisées / non autorisées"
                        },
                        data: [{
                            type: "pie",
                            startAngle: 240,
                            yValueFormatString: "##0.00\"%\"",
                            indexLabel: "{label} {y}",
                            dataPoints: [
                                { y: response.data.Value1, label: "Demande autorisé" },
                                { y: response.data.Value2, label: "Demande non autorisé" },

                            ]
                        }]
                    });
                    chart.render();
                });
                FileChartExpire()
            }
        </script>
    }

    <script type="text/javascript">
        function FileChartExpire() {
            var posting = $.post('/AccesEnginapi/MesDemandeExpire', function (response) {
                CanvasJS.addColorSet("greenShades",
                    [//colorSet Array
                        "#D38583",
                        "#4285f4",
                        "#51CDA0",
                        "#FBCCA6",
                    ]);

                var chart = new CanvasJS.Chart("chartExpireId", {
                    animationEnabled: true,
                    colorSet: "greenShades",
                    title: {
                        text: "Les Demandes"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: response.data.Value1, label: "Demandes expirées" },
                            { y: response.data.Value2, label: "Demande sorties" },
                            { y: response.data.Value3, label: "Demande acceptées" },
                            { y: response.data.Value4, label: "Demande refusées" },

                        ]
                    }]
                });
                chart.render();
            });
        }
    </script>

}



