@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>

</div>



@section scripts{

    <script src="~/Scripts/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var posting = $.post('/AccesEnginapi/FillChartPieMyDemande', function (response) {
                console.log(response.data);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Mes Demande"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: response.data.CountController, label: "Demande controller" },
                            { y: response.data.CountNonController, label: "Demande non controller" },

                        ]
                    }]
                });
                chart.render();
            });
        }
    </script>



}



